@charset "utf-8";
/* CSS Document */
/*------------重置样式----------------*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, 
fieldset, legend, img ,button,input{ margin:0; padding:0} 
li{list-style: none}
a{text-decoration: none}

body{font-family:"微软雅黑";font-size:12px}

/*------------页面最顶部----------------*/

#topest{width:1264px;height: 90px;background:#ffd800}
.topest_pic{margin:0 auto;width:990px;height:90px;position:relative;}
.topest_pic .search{position:absolute;left:50%;top:50%;margin-left:-115px;margin-top:-13px;border:2px solid #31313b}
.topest_pic .search input{width:150px;height:33px;border:0}
.topest_pic .search button{width:58px;height:34px;border:0;background:#31313b;}

/*------------页面-导航栏----------------*/
#nav{width:1264px;height:35px;background:#33353d}
#nav ul{margin-left:143px}
#nav ul li{float:left;height:35px;font-size:14px}
#nav ul li .index_a{display:block;width:117px; background-image:url(img/shouye.jpg);background-repeat:repeat;line-height:35px;height:35px;text-align:center;color:#e1e1e1}
#nav ul li span{float:left;display:block;border-right:1px solid #ffe9a5;height:11px;margin-top:12px}
#nav ul .navitem a {float:left;text-align:center;line-height:35px;height:35px;display:block;color:#ffe9a5}
#nav ul li :hover{background-image:url(img/shouye.jpg);background-repeat:repeat}
#nav ul .navitem_fir a{width:78px;}
#nav ul .navitem_sed a{width:107px;}
#nav ul .navitem_thi a{width:92px;}
#nav ul .navitem_fou a{width:92px;text-align:center} 
/*------------页面-导航-下拉菜单----------------*/
#navMenu{width:1263px;height:25px;background:#a7a7a6}

#navMenu .navMenu_left{width:632px;height:25px;border-right:1px solid #777777;float:left}
#navMenu .navMenu_right{width:628px;height:25px;border-left:1px solid #c9c9c8;float:left}
.down{position:absolute;left:143px;top:150px;z-index:4;display:none;width:200px;height:375px}
.down li{width:200px;height:35px;line-height:35px;text-indent:30px;background:#edebeb;border-bottom:1px solid #A6A5A5;}
.down .allbaby{border-top:2px solid #cc0000}
.down li a{color:#000333;width:48px}
.down .allbaby .down_menu{position:absolute;left:200px;top:2px;display:none}
.down .allbaby .down_menu li{background:#d1d1d1}
.down li:hover {background:#d1d1d1}
.down .allbaby ul li:hover{background:#bcbbbb}
/*------------页面-导航-下拉菜单-左边---------------*/
#navMenu .menu{width:117px;height:25px;line-height:25px;color:#FFF;margin-left:143px;display:block;float:left;}
#navMenu .menu:hover,#navMenu .idx:hover{background:#80807F;cursor:pointer}
#navMenu .menu .stopall{margin-left:25px;float:left}
#navMenu .menu .default_btn {width:14px;height:14px;border-radius:7px;float:left;background:#ffffff;margin-top:6px;margin-left:10px}
#navMenu .menu .default_btn .godown{margin-left:4px;color:#a7a7a6;font-size:18px;text-align:center;height:14px;width:14px}
#navMenu .menu .default_btn .goup{display:none;color:#a7a7a6;width:14px;margin-left:2px;margin-bottom:2px}

#navMenu .idx{width:62px;line-height:25px;text-align:center;height:25px;float:left;color:#ffffff}
/*------------------页面-导航下拉菜单-右边------------------*/
.navMenu_right .resou{display:block;width:50px;float:left;line-height:25px;text-align:center;margin-left:7px}
.navMenu_right  li{display:block;float:left;width:40px;line-height:25px;text-align:center;}
.navMenu_right  li:hover{text-decoration: underline;color:#FFF}
.navMenu_right .inputbox{ width:160px;height:19px;float:left;border:1px solid #e5d3d3;overflow:hidden;margin-top:2px}
.navMenu_right .inputbox img{float:left;border:none}
.navMenu_right_fdj{ width:141px;float:left;height:20px;border:none}
.navMenu_right .btn{width:32px;height:21px;float:left;display:block;border:1px solid #e5d3d3;margin-top:2px;margin-left:1px}
/*------------------页面-----------------*/
#foot{background:url(img/foot.png) repeat-y;height:110px;width:100%;float:left}
#foot p{margin:0 auto;margin-top:30px;margin-bottom:14px;width:210px;}
#foot p a{color:#333;}
#foot p a:hover{text-decoration:underline}
#foot div {width:630px;margin:0 auto;background:#FFF;text-indet:10px;height:40px}
/*------------------登录，注册-----------------------*/
/*--------tit---------*/
.tit{width:1264px;height:98px;background:#ffffff;border-bottom:2px solid #bc0e31;}

.tit .logo,.tit .information{position:absolute;top:21px;display:block;}
.tit .logo{float:left;left:33px}
.tit .information{float:right;right:0px;margin-right:40px}

/*-----------foot------------*/
.foot{width:1264px;height:141px}
.foot p {text-align:center;height:20px;margin:0 auto;width:950px;margin-top:20px}
.foot p .pic{display:block;height:20px;width:20px;float:left;margin-left:9px}
.foot p .text,.foot p .text1{display:block;float:left;margin-left:9px;color:#999999;margin-right:12px;border-right:2px solid #999;padding-right:17px}
.foot p .text1{border:0;}
.foot .center_text{text-align:center;color:#999999}
.foot .last_leftPic{margin:0 auto}
.foot .last_leftPic img{margin:0 5px}
/*------------tit2----------------*/

.tit {
	width: 100%;
	width: 1264px;
	height: 29px;
	border-bottom: 1px solid #e4dfda;
	background: #ece7e3;
}

.tit .list_left {
	margin-left: 159px;
}

.tit .list_left li {
	float: left;
	line-height: 29px;
	margin-right: 8px;
}

.tit .list_left li a {
	color: #85726c;
}

.tit .list_left li a span {
	color: #c53f4c;
}

.tit .list_left li a:hover {
	color: red;
	text-decoration: underline
}

.tit .list_right {
	position: absolute;
	top: 7px;
	right: 136px;
}

.tit .list_right li {
	float: left;
}

.tit .list_right li a {
	color: #85726c;
	padding: 0px 7px;
	border-right: 1px solid #a08779;
	border-left: 1px solid #f1eeed
}

.tit .list_right li a:hover {
	text-decoration: underline;
	color: #c53f4c;
}
/*----------------------------foot2--------------*/

.foot_box {
	width: 960px;
	height: 402px;
	margin: 0 auto;
	overflow: hidden;
}

.foot_box .box_lt,
.foot_box .box_gt,
.foot_box .box_cen {
	width: 315px;
	float: left;
	height: 402px;
	border-left: 1px solid #dcd7cf
}

.foot_boe .box_lt {}

.foot_box h3 {
	width: 315px;
	height: 75px;
	line-height: 75px;
	text-indent: 10px;
	color: #ba102e;
	font-size: 15px
}

.foot_box .box_lt ._lt {
	height: 56px;
	padding-left: 16px
}

.foot_box .box_lt ._lt img,
.foot_box .box_lt ._lt ul {
	display: block;
	float: left;
}

.foot_box .box_lt ._lt ul {
	margin-top: 6px;
	color: #666666;
	margin-left: 10px;
	width: 200px
}

.foot_box .box_lt ._lt ul li .bold {
	color: #666666
}

.foot_box .box_lt ._lt ul li .nol {
	color: #999999
}

.foot_box .box_cen ul {
	float: left;
	margin: 13px 0 0 18px;
	margin-right: 20px
}

.foot_box .box_cen ul li a {
	color: #666666;
	height: 20px;
	line-height: 20px;
}

.foot_box .box_cen ul .tit {
	color: #333333;
	font-weight: bolder;
}

.foot_box .box_cen .none_rig {
	border: 0;
	display: inline-block;
	text-align: left
}

.foot_box .box_cen .none_rig2 {
	border: 0;
	margin-left: 10px
}

.foot_box .box_cen .none_rig3 {
	border: 0;
	margin-left: 0px
}

.foot_box .box_gt h4 {
	height: 38px;
	margin-left: 13px;
	line-height: 38px;
	color: #7c6666
}

.foot_box .box_gt .app img {
	margin-left: 13px;
	margin-right: 10px
}

.foot_box .box_gt .erwei {
	height: 101px;
}

.foot_box .box_gt .erwei img {
	display: block;
	float: left;
	margin-left: 13px;
	margin-right: 9px
}

.foot_box .box_gt .erwei p {
	width: 190px;
	float: left;
	color: #99999;
}

.foot_box .box_gt .erwei h2 {
	color: #666666;
	font-weight: bolder
}

.foot_box .box_gt .weibo {
	margin-top: 44px;
	margin-left: 16px;
}

.foot_box .box_gt .weibo img {
	float: left;
	margin-right: 10px
}

.foot_box .box_gt .weibo span {
	display: block;
	float: left;
	color: #666666
}

.foot_box .box_gt .weibo p {
	width: 58px;
	border: 1px solid #dfe1e2;
	height: 19px;
	float: left;
	line-height: 19px;
	text-align: center;
	background: #ffffff
}




