@charset "utf-8";
/* CSS Document */
/*------------重置样式----------------*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, 
fieldset, legend, img ,button,input{ margin:0; padding:0} 
li{list-style: none}
a{text-decoration: none}
img{border:none}
body{font-family:"微软雅黑";font-size:12px}
a{color:#FFF}
/*-----------------------------cup-list-------------------------------*/
.cup_list{width:1264px;background:#ef636a;height:3681px}

/*------------------cup_list（1,2,3,4）(以下皆是共有样式)------------------*/
.cup_list .list_1 span{display:block;margin:0 auto;width:990px}
.cup_list .list_1 ul{width:992px;margin:0 auto}
.cup_list .list_1 ul li{float:left;height:321px;float:left}
.cup_list .list_1 ul .pic{height:466px}

